extends layout

//- include components/bg-switcher/bg-switcher.pug

block variables
  - var title = 'слайдер событий'
  - var descr = 'переключение между предустановленными точками на шкале времени'

block content
    +b.H1.title слайдер событий