extends layout

include components/event-slider/event-slider.pug

block variables
  - var title = 'слайдер событий'
  - var descr = 'переключение между предустановленными точками на шкале времени'

block content
    +b.H1.title слайдер событий
    +b.desktop
      +e.target-zone
        +event-slider