@import 'reset.css';

.page {
    max-width: 1920px;
    min-width: 320px;
    // width: 100%;

    touch-action: none;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    line-height: 18px;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    line-height: 30px;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 14px;

    // background-color: black;
}

.title {
    padding: 50px;
}

.desktop {
    // width: 800px;
    // height: 600px;
    // border: 1px solid red;
    &__target-zone {
        // width: 100%;
        // border: 1px dashed black;
    }
    &__slider:not(:first-child) {
        margin-top: 60px;
    }
}